.mainMenu {
    position: absolute;
    background-image: url("./image/fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.photo-button {
    width: 12vw;
    padding-left: 2.5vw;
    padding-top: 2.5vw;
}

.buttons-container {
    cursor: pointer;
    font-size: 2vw;
    position: absolute;
    left: 5vw;
    top: 40vh;
    height: 25vh;
    width: 30vw;
    font-family: Playfair Display;
    text-shadow: 1.8px 1.5px 0 rgb(0, 0, 0), -1.8px -1.8px 0 rgb(0, 0, 0), 1.8px -1.8px 0 rgb(0, 0, 0),
        -1.8px 1.8px 0 rgb(0, 0, 0);
    color: #fff;
}

.button1 {
    background-image: url("./image/romb.png");
    background-size: 1.4vw;
    padding-left: 3vw;
    background-position: 1vw;
    background-repeat: no-repeat;
    font-size: 5vw;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}
.button1:hover {
    font-size: 5.6vw;
    color: #01ffff;
}

.button2,
.button3 {
    padding-top: 0.7vh;
    background-image: url("./image/romb.png");
    background-size: 1.4vw;
    padding-left: 3vw;
    background-position: 1vw;
    background-repeat: no-repeat;
    font-size: 4vw;
    transition: 1s;
}
.button2:hover,
.button3:hover {
    font-size: 4.5vw;
    color: #01ffff;
}

.text-button {
    font-size: 2vw;
    padding-top: 0;
}
.text-Invitation {
    left: 15%;
    top: 54.6%;
    font-size: 2vw;
    padding-top: 0;
    color: #fff;
    font-family: Playfair Display;
    font-size: 2vw;
    font-style: normal;
    line-height: normal;
    text-align: center;
    padding-top: 0;
    position: absolute;
    cursor: pointer;
}
.hr-line-Invitation {
    margin-left: 0px;
    margin-right: 0px;
    height: 0.3vw;
    background: #f9ebeb;
    padding-right: 0;
    position: absolute;
    bottom: 3.6vh;
    width: 128.21%;
    left: -19.2%;
}
.profile-panel {
    background: rgba(4, 4, 4, 0.69);
    width: 15vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    position: absolute;
}

.user-profile {
    height: 7vh;
}

.hr-user-profile1,
.hr-user-profile2 {
    margin-left: 0px;
    margin-right: 0px;
    height: 0.3vw;
    background: #f9ebeb;
    padding-right: 0;
}

.hr-user-profile2 {
    position: absolute;
    bottom: 4vh;
    width: 99%;
}
.text-button {
    color: #fff;
    font-family: Playfair Display;
    font-size: 2vw;
    font-style: normal;
    line-height: normal;
    text-align: center;
    padding-top: 0;
    cursor: pointer;
}
.new-profile-button {
    cursor: pointer;
    background-image: url("./image/friend.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vh;
    width: 3vw;
    left: 45%;
    bottom: 1vh;
    transition: 1s;
    text-align: center;
    position: absolute;
}
.new-profile-button:hover {
    cursor: pointer;
    background-image: url("./image/friend2.png");
    width: 4.4vw;
    height: 3.5vh;
}
.button-account {
    cursor: pointer;

    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 6vh;
    width: 15vw;
    font-size: 1.3vw;
    padding-bottom: 0;
    font-family: Playfair Display;
    color: #fff;
    bottom: 0vh;
    left: 0;
}

@media screen and (max-width: 900px) {
    .button1 {
        background-size: 1.6vw;
        font-size: 6vw;
    }
    .button2,
    .button3 {
        font-size: 5vw;
        background-size: 1.6vw;
    }
    .button1:hover {
        font-size: 6.6vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 5.5vw;
    }
    .text-button {
        font-size: 3vw;
    }
    .profile-panel {
        width: 18vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 3.5vw;
        height: 3.5vh;
    }
    .new-profile-button:hover {
        height: 4.5vh;
    }
    .photo-button {
        width: 14vw;
    }
    .button-account {
        font-size: 2vw;
        width: 20vw;
    }
}
@media screen and (max-width: 800px) {
    .button1 {
        background-size: 1.9vw;
        font-size: 6.5vw;
    }
    .button2,
    .button3 {
        font-size: 5.5vw;
        background-size: 1.9vw;
    }
    .button1:hover {
        font-size: 7.1vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 6vw;
    }
    .text-button {
        font-size: 3.3vw;
    }
    .profile-panel {
        width: 20vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 4vw;
        height: 4vh;
    }
    .new-profile-button:hover {
        width: 5vw;
        height: 4vh;
    }
    .photo-button {
        width: 16vw;
    }
    .button-account {
        font-size: 2.2vw;
        width: 21vw;
    }
}
@media screen and (max-width: 700px) {
    .button1 {
        background-size: 2vw;
        font-size: 7vw;
    }
    .button2,
    .button3 {
        font-size: 6vw;
        background-size: 2vw;
    }
    .button1:hover {
        font-size: 7.6vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 6.5vw;
    }
    .text-button {
        font-size: 3.5vw;
    }
    .profile-panel {
        width: 28vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 4.5vw;
        height: 4vh;
    }
    .new-profile-button:hover {
        width: 5.5vw;
        height: 4vh;
    }
    .photo-button {
        width: 20vw;
    }
    .button-account {
        font-size: 2.5vw;
        width: 25vw;
    }
}
@media screen and (max-width: 600px) {
    .button1 {
        background-size: 2.5vw;
        padding-left: 4.2vw;
        font-size: 7.2vw;
    }
    .button2,
    .button3 {
        padding-left: 4.2vw;
        font-size: 6.2vw;
        background-size: 2.5vw;
    }
    .button1:hover {
        font-size: 7.8vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 6.8vw;
    }
    .text-button {
        font-size: 3.9vw;
    }
    .profile-panel {
        width: 30vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 5vw;
        height: 4vh;
    }
    .new-profile-button:hover {
        width: 6vw;
        height: 4vh;
    }
    .photo-button {
        width: 20vw;
    }
    .button-account {
        font-size: 2.8vw;
        width: 28vw;
    }
    .buttons-container {
        left: 5vw;
    }
}
@media screen and (max-width: 500px) {
    .button1 {
        background-size: 3.3vw;
        padding-left: 5vw;
        font-size: 8.5vw;
    }
    .button2,
    .button3 {
        padding-left: 5vw;
        font-size: 7.5vw;
        background-size: 3.3vw;
    }
    .button1:hover {
        font-size: 9.4vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 7.4vw;
    }
    .text-button {
        font-size: 4.8vw;
    }
    .profile-panel {
        width: 35vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 5.9vw;
        height: 4vh;
        left: 47%;
    }
    .new-profile-button:hover {
        width: 6.9vw;
        height: 4vh;
    }
    .photo-button {
        width: 25vw;
    }
    .button-account {
        font-size: 3.8vw;
        width: 35vw;
    }
}
@media screen and (max-width: 400px) {
    .button1 {
        background-size: 4vw;
        padding-left: 6vw;
        font-size: 10vw;
    }
    .button2,
    .button3 {
        padding-left: 6vw;
        font-size: 9vw;
        background-size: 4vw;
    }
    .button1:hover {
        font-size: 10.5vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 9.5vw;
    }
    .text-button {
        font-size: 5.5vw;
    }
    .profile-panel {
        width: 37vw;
        height: 100vh;
    }
    .new-profile-button {
        width: 8vw;
        height: 3.9vh;
        left: 47%;
    }
    .new-profile-button:hover {
        width: 9.5vw;
        height: 3.9vh;
    }
    .photo-button {
        width: 35vw;
    }
    .button-account {
        font-size: 3.8vw;
        width: 35vw;
    }
}
@media screen and (max-width: 300px) {
    .button1 {
        background-size: 4vw;
        padding-left: 6vw;
        font-size: 11.5vw;
    }
    .button2,
    .button3 {
        padding-left: 6vw;
        font-size: 10.5vw;
        background-size: 4vw;
    }
    .button1:hover {
        font-size: 12.1vw;
    }
    .button2:hover,
    .button3:hover {
        font-size: 11.1vw;
    }
    .text-button {
        font-size: 6.7vw;
    }
    .new-profile-button {
        width: 9.5vw;
        height: 3.9vh;
        left: 47%;
    }
    .new-profile-button:hover {
        width: 10.5vw;
        height: 3.9vh;
    }
    .photo-button {
        width: 38vw;
    }
    .button-account {
        font-size: 4vw;
        width: 37vw;
    }
}

@media screen and (max-width: 200px) {
    .button1 {
        background-size: 4vw;
        padding-left: 6vw;
        font-size: 11.8vw;
    }
    .button2,
    .button3 {
        padding-left: 6vw;
        font-size: 10.8vw;
        background-size: 4vw;
    }
    .text-button {
        font-size: 7.8vw;
    }
    .new-profile-button {
        width: 11vw;
        height: 3.9vh;
        bottom: 1px;
        left: 46%;
    }
    .new-profile-button:hover {
        width: 11.5vw;
        height: 3.9vh;
    }
    .photo-button {
        width: 45vw;
    }
    .button-account {
        font-size: 5vw;
        width: 45vw;
    }
    .buttons-container {
        left: 1vw;
    }
}
@media screen and (max-height: 500px) and (max-width: 1250px) {
    .button1 {
        font-size: 5.8vw;
    }
    .button2,
    .button3 {
        font-size: 4.8vw;
    }
}
@media screen and (max-height: 400px) and (max-width: 1250px) {
    .button1 {
        font-size: 4.5vw;
    }

    .button2,
    .button3 {
        font-size: 3.5vw;
    }
    .photo-button {
        padding-top: 1vw;
        width: 11vw;
    }
    .new-profile-button {
        width: 9.5vw;
        height: 3.9vh;
        left: 47%;
    }
    .new-profile-button:hover {
        width: 10.5vw;
        height: 3.9vh;
    }
}
@media screen and (max-height: 430px) and (max-width: 1250px) {
    .button1 {
        font-size: 4vw;
    }

    .button2,
    .button3 {
        font-size: 3.5vw;
    }
    .buttons-container {
        top: 45vh;
    }
}
@media screen and (max-height: 350px) and (max-width: 1250px) {
    .button1 {
        font-size: 3.3vw;
        padding-left: 2.2vw;
        background-size: 1vw;
    }

    .button2,
    .button3 {
        font-size: 2.8vw;
        padding-left: 2.2vw;
        background-size: 1vw;
    }
    .photo-button {
        padding-top: 1vw;
        width: 9vw;
    }
}
@media screen and (max-height: 270px) and (max-width: 1250px) {
    .button1 {
        font-size: 4vw;
    }

    .button2,
    .button3 {
        font-size: 3.6vw;
    }
    .buttons-container {
        top: 32vh;
        left: 17vw;
    }
    .photo-button {
        width: 13vw;
    }
    .button-account {
        height: 11.9vh;
    }
}

@media screen and (max-height: 250px) and (max-width: 1250px) {
    .button1 {
        font-size: 4vw;
    }

    .button2,
    .button3 {
        font-size: 3.6vw;
    }
    .buttons-container {
        top: 28vh;
        left: 17vw;
    }
    .photo-button {
        width: 9vw;
    }
    .button-account {
        height: 11.9vh;
    }
}
@media screen and (max-height: 230px) and (max-width: 1250px) {
    .button1 {
        font-size: 4vw;
    }

    .button2,
    .button3 {
        font-size: 3.6vw;
    }
    .buttons-container {
        top: 20vh;
        left: 17vw;
    }
    .photo-button {
        width: 10vw;
    }
    .button-account {
        height: 12.9vh;
    }
}
@media screen and (max-height: 230px) and (max-width: 1250px) {
    .button1 {
        display: inline-block;
        white-space: nowrap;
        background-size: 1.8vw;
        padding-left: 3vw;
        margin-left: 4%;
        font-size: 5.3vw;
    }

    .button2,
    .button3 {
        display: inline-block;
        white-space: nowrap;
        background-size: 1.8vw;
        padding-left: 3vw;
        font-size: 4.6vw;
        margin-left: 4%;
    }
    .buttons-container {
        top: 33vh;
        left: 20vw;
        display: inline-block;
        white-space: nowrap;
    }
    .photo-button {
        width: 11vw;
    }
    .button-account {
        height: 13.9vh;
    }
}
@media screen and (max-height: 200px) and (max-width: 1250px) {
    .photo-button {
        width: 9vw;
    }
}
@media screen and (max-height: 160px) and (max-width: 1250px) {
    .photo-button {
        width: 7vw;
    }
}
@media screen and (max-height: 130px) and (max-width: 1250px) {
    .photo-button {
        width: 5vw;
    }
    .button-account {
        height: 16.9vh;
    }
    .button1 {
        background-size: 1.5vw;
        padding-left: 2.7vw;
        font-size: 4vw;
    }

    .button2,
    .button3 {
        font-size: 3.6vw;
        background-size: 1.5vw;
        padding-left: 2.7vw;
    }
    .text-button {
        font-size: 1.5vw;
    }
}
@media screen and (max-height: 100px) and (max-width: 1237px) {
    .photo-button {
        width: 3.8vw;
    }
    .button-account {
        height: 22.9vh;
    }
    .buttons-container {
        top: 20vh;
    }
    .button1 {
        background-size: 1.2vw;
        padding-left: 2.7vw;
        font-size: 3.6vw;
    }

    .button2,
    .button3 {
        font-size: 3vw;
        background-size: 1.2vw;
        padding-left: 2.7vw;
    }
    .text-button {
        font-size: 1vw;
    }
}
@media screen and (max-height: 230px) and (max-width: 900px) {
    .buttons-container {
        top: 40vh;
        left: 5vw;
    }
}
@media screen and (max-height: 230px) and (max-width: 700px) {
    .buttons-container {
        top: 40vh;
        left: 3vw;
    }
}
@media screen and (max-height: 230px) and (max-width: 530px) {
    .buttons-container {
        top: 35vh;
        left: 3vw;
        display: flex;
        flex-direction: column;
    }
    .button1,
    .button2,
    .button3 {
        flex-direction: column;
        display: flex;
    }
}

/* .your-friend {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
} */
.your-friend {
    position: relative;
    padding: 8px;
    border-radius: 4%;
    margin-top: 5%;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    width: 13vw;
    height: 5vh;
}
.deny {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 86%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.deny::before,
.deny::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 140%;
    background-color: black;
}

.deny::before {
    transform: rotate(45deg);
}

.deny::after {
    transform: rotate(-45deg);
}

.toaccept {
    left: 78%;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.toaccept::before,
.toaccept::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 70%;
    top: 155%;
    background-color: rgb(0, 255, 0);
}

.toaccept::before {
    transform: rotate(30deg);
}

.toaccept::after {
    top: 187%;
    left: 17.5%;
    width: 1px;
    height: 40%;
    transform: rotate(-45deg);
}
.add-friend {
    left: 12.5%;
    top: 25%;
    /* position: absolute; */
}
.add-friend-button {
    left: 12.5%;
    /* top:28.8%; */
    /* position: absolute; */
}
.You {
    position: absolute;
    top: 1%;
    left: 5%;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    width: 13vw;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 2px solid #333;
    border-radius: 4px;
}

.You::before {
    content: "";
    display: inline-block;
    width: 14%;
    height: 65%;
    background-color: #ffffff;
    margin-right: 10%;
    border: 3px solid #333;
    border-radius: 2px;
}

.You::after {
    content: "";
    position: absolute;
    top: 47%;
    left: 14%;
    transform: rotateZ(90deg);
    width: 18%;
    height: 6.6%;
    background-color: #333;
}

.your-friend-menu {
    border-radius: 4%;
    font-size: 16px;
    width: 13vw;
    left: 2%;
    position: relative;
    margin-top: 6%;
}
