.container-Lobby {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background-image: url("./image/fon.png");
    background-size: cover;
    z-index: 0;
}

.arrow-1 {
    position: absolute;
    top: 5vh;
    left: 3vw;
    width: 5.5vw;
    height: 13vh;
    background-image: url("./image/arrow-1.png");
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow-1:hover {
    height: 15vh;
    width: 6vw;
    filter: brightness(1.9);
}

.baguetteM {
    position: absolute;
    right: 0;
    top: 3vh;
    width: 39.7vw;
    height: 100vh;
    background-image: url("./image/baguettebox.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.coin {
    position: absolute;
    background-image: url("./image/coins.png");
    left: 20vw;
    top: 9.5vh;
    width: 2.3vw;
    height: 3.4vh;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    font-weight: bold;
}

.panel {
    left: 10vw;
    top: 62vh;
    display: inline-block;
    width: 3.8vw;
    height: 7vh;
    background-color: grey;
    border: groove;
    border-color: rgb(164, 164, 164);
    position: relative;
    overflow: hidden;
    box-shadow: 0.3vw 0 1vw 0.2vw rgb(0, 0, 0);
}
.image-rack1,
.image-rack2 {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 40vw;
    height: 28.3vh;
    background-image: url("./image/rack.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: bottom;
}

.image-Sportik,
.image-techguy,
.image-humanitarian {
    position: absolute;
    bottom: 0;
    background-position: bottom;
    left: 14.5vw;
    width: 29vw;
    height: 83.3vh;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.image-Sportik1,
.image-techguy1,
.image-humanitarian1 {
    position: absolute;
    bottom: 0;
    background-position: bottom;
    left: -3vw;
    width: 25vw;
    height: 83.3vh;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.image-Sportik2,
.image-techguy2,
.image-humanitarian2 {
    position: absolute;
    bottom: 0;
    background-position: bottom;
    left: 36vw;
    width: 25vw;
    height: 83.3vh;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.image-techguy,
.image-techguy1,
.image-techguy2 {
    background-image: url("./image/techguy.png");
}

.image-humanitarian,
.image-humanitarian1,
.image-humanitarian2 {
    background-image: url("./image/humanitarian.png");
}

.image-Sportik,
.image-Sportik1,
.image-Sportik2 {
    background-image: url("./image/Sportik.png");
}

.image-rack1 {
    left: -10.5vw;
}

.image-rack2 {
    left: 29.5vw;
}

.friend:hover,
.friend-2:hover {
    cursor: pointer;
    background-image: url("./image/friend2.png");
}

.friend,
.friend-2 {
    position: absolute;
    cursor: pointer;
    bottom: 25vh;
    width: 9.5vw;
    height: 22vh;
    background-image: url("./image/friend.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 15vw;
}
.plays {
    font-family: Playfair Display;
    color: #228b22;
    font-size: 2.8vw;
    font-weight: 800;
    left: 2vw;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 0 rgb(0, 0, 0), 0 1px 1px rgb(0, 0, 0), -1px 0 1px rgb(0, 0, 0);
}

.plus {
    margin-left: 10px;
    cursor: pointer;
    width: 2vw;
    height: 5vh;
    background-image: url("./image/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    left: 16vw;
    border: none;
    background-color: transparent;
}

.addafriend,
.addafriend2 {
    position: absolute;
    left: 9.1vw;
    bottom: 37vh;
    width: 20vw;
    height: 40vh;
    background: linear-gradient(#00ffff, #191970);
    z-index: 5;
}
.addafriend2 {
    left: 46%;
}

.button {
    width: 14vw;
    height: 13.2vh;
    left: 8vw;
    top: 61.7vh;
    color: #000;
    font-family: Playfair Display;
    font-size: 1.5vw;
    font-weight: 800;
    border: -2vw solid #000;
    border-radius: 31px;
    background: #d9d9d9;
    position: relative;
    line-height: 18vh;
    z-index: 2;
}

.button::before {
    content: "";
    position: absolute;
    bottom: 6.5vh;
    left: 0vw;
    right: 0vw;
    height: 0.2vw;
    background: #000;
    z-index: 1;
}
.arrow-2,
.arrow-3 {
    position: absolute;
    cursor: pointer;
    bottom: 42vh;
    width: 3vw;
    height: 10vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.arrow-2 {
    left: 36.5vw;
    background-image: url("./image/arrow-3.png");
}

.arrow-3 {
    left: 18.7vw;
    background-image: url("./image/arrow-2.png");
}
.arrow-2Friend1,
.arrow-3Friend1 {
    position: absolute;
    cursor: pointer;
    bottom: 34vh;
    width: 3vw;
    height: 10vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.arrow-2Friend1 {
    left: 17vw;
    background-image: url("./image/arrow-3.png");
}

.arrow-3Friend1 {
    left: 0.1vw;
    background-image: url("./image/arrow-2.png");
}
.arrow-2Friend2,
.arrow-3Friend2 {
    position: absolute;
    cursor: pointer;
    bottom: 34vh;
    width: 3vw;
    height: 10vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.arrow-2Friend2 {
    left: 57vw;
    background-image: url("./image/arrow-3.png");
}

.arrow-3Friend2 {
    left: 37vw;
    background-image: url("./image/arrow-2.png");
}

.play {
    left: 77vw;
    top: 82vh;
    font-family: Playfair Display;
    color: #fff;
    width: 15vw;
    height: 10vh;
    font-size: 2vw;
    background-color: transparent;
    border: none;
    background-image: url("./image/imageB.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    letter-spacing: 0.3em;
}
.play:hover {
    width: 18vw;
    height: 12vh;
    font-size: 2.4vw;
    letter-spacing: 0.3em;
    color: rgba(17, 171, 27, 0.661);
}

@media screen and (max-width: 1240px) {
    .panel {
        top: 55vh;
    }
}
