.error-message {
    font-size: 1.5vh;
    font-size: 1.5vw;
    margin: auto;
    width: auto;
    height: 8vh;
    font-family: Dhyana;
    display: grid;

    
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 1px 2px rgba(255,0,0,0);
    color: #D20000;
}

.error-code {
    font-weight: bold;
    height: 0vh;
}

.error-text {
    height: 0vh;
}

.containerLogin {
    margin-bottom: 20px;
}